<div id="questions" data-carousel data-carousel-class="quizitem-carousel" data-on-page-upcoming="loadPage(page, tmpCb)" data-give-carousel-to="onCarouselAvailable(carousel)">


    <div class="item" ng-repeat="item in items" ng-class="{active : true}">
      <h4 class="title">{{item.title}}</h4>
      <br/>
      <form name="questions">
	<div class="item" ng-repeat="piece in item.questions">
	  <!--true-false-->
	  <quiz-truefalse filter-by="piece._id" ng-if="piece.type == 'True-false'"></quiz-truefalse>
	  <!--multi-choice-->
	  <quiz-multichoice filter-by="piece._id" ng-if="piece.type == 'Multiple choice'"></quiz-multichoice>

	  <!--multi-correct-->
	  <quiz-multicorrect filter-by="piece._id" ng-if="piece.type == 'Multiple correct'""></quiz-multicorrect>

	</div>
      </form>      
    </div>
    <div class="item">
      abc
    </div>


    <a style="float: left;" data-ng-show="hasPrevious()" data-ng-click="previous()">&lsaquo;</a>
    <span style="float: left;" data-ng-hide="hasPrevious()">&lsaquo;</span>
    <a style="float: left;" data-ng-show="hasNext()" data-ng-click="next()">&rsaquo;</a>
    <span style="float: left;" data-ng-hide="hasNext()">&rsaquo;</span>

</div>
